*{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding:0;
    box-sizing:border-box;
    color: aliceblue;
}

body{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:100vh;
    background: color #cde0cd; 


}
container{
    display:flex;
    align-items: center;
    gap:3.5rem;



}

#calculator{
    display:flex;
    flex-direction: column;
    gap:2rem;
    padding:2rem ;
    color:#ffff;
    background-color: #262626;
    border-radius:8px;
}

#form{
    display:flex;
    flex-direction:column;
    gap:2rem;

}

#title{
    font-size: 2.25rem;
    position:relative;

}


#title::after{
    position:absolute;
    content:'';
    background-color:#008B76 ;
    width: 8rem;
    height:3px;
    bottom:0;
    left:0;
    border-radius: 3px;
}


.input-box label{
    font-size:1.1rem;
    color:#ffff;
    font-weight:500;
}

.input-field{
    display:flex;
    align-items:content;
    justify-content: space-between;
    background-color:#008B76 ;
    padding: 0.3rem;
    border-radius: 3px;
    margin-top: 3px;
}

.input-field span,.input-field i{
     color:#ffff;
     font-size: 1.3rem;
     padding:0.6rem 1rem;
    
}

.input-field input{
    background-color: transparent;
    border:none;
    width: 100%;
    font-size: 1.3rem;
    color: #ffff;
    padding:00.5rem;

}

.input-field input::-webkit-outer-spin-button,.input-field input::-webkit-inner-spin-button{
    appearance:none ;
}

.input-field input:focus{
    outline: none;

}

#calculate{
    border:none;
    font-size:1.2rem;
    font-weight: bold;
    background-color: #008B76;
    color: #ffff;
    padding: 0.5rem 0;
    border-radius:3px;
    cursor:pointer;

}

#result{
    display:flex;
    gap:2rem;
    align-items:center;
    border-top:1px solid #ffff;
    padding: 0.75rem;

}

#bmi{
    display: flex;
    align-items: center;
    font-size: 2.25rem;
    

}